.cart-main-container{
    width:100%;
    height: 92vh;
    /* border: 4px solid red; */
    background-color: rgb(221, 217, 217);
    padding-top: 20px;

}

.cart-main{
    /* border: 1px solid blue; */
    background-color: white;
    color:black;
    height: fit-content;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0;
}

.cart-details{
    display: flex;
    width:100%;
    flex-flow: row;
    /* border: 1px solid black; */
}

.header{
    /* border: 1px solid black; */
    font-weight: bold;

}


th{
    font-weight: 100;
    font-size: small;
    color: grey;
}



.table-container{
    padding: 30px;
    max-height:85vh;
    overflow-y: auto;
}

#cart-table{
    max-height: 30vh;
    overflow-y: auto;

}





.cart-details>table{
    max-height: 50vh;
    overflow-y: auto;
}

td{
    font-size: small;
}

.cart-item-details{
    /* border:1px solid black; */
    display: flex;
    flex-flow: row;
    width: fit-content;
}

.cart-item-text-details{
    /* border: 1px solid black; */
    margin-left: 20px;
    display: flex;
    flex-flow: column;
}

.small-text{
    font-size: xx-small;
}

.item-heading{
    font-weight: bolder;
}

.size{
    font-size: small;
    color: red;
    font-weight: 500;
}

.cart-item-type{
    font-size: x-small;
    color:grey;
    font-weight: 500;
}

.qty-container{
    /* border:1px solid black; */
    display:flex;
    flex-flow: row;
    width:fit-content;
    font-weight: bold;
}

.q-input{
    width: 30px;
    height:25px;
}

.qty-buttons{
    /* border:1px solid black; */
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.qty-item{
    display:flex;
    flex-flow: column;
    justify-content: center;
    /* border:1px solid black; */
    justify-content: center;
    font-size: 1.2em;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

.qty-item>i{
    margin: 0 4px;
    font-weight: bolder;
}

.qty-item>input{
    margin:0;
    text-align: center;
    width: 35px;
    height: 20px;
    
}

.qty-item>i:hover{
    color: red;
}


.d-item{
    color:rgb(255, 0, 0);

}

.d-item:hover{
    color:rgb(78, 95, 248);
}

/****Cart Right Section****/

.cart-r-section{
    /* border: 1px solid violet; */
    width: 40%;
    background-color: rgb(245, 245, 245);
    /* height: 0vh; */
    /* max-height: 80vh; */
    padding: 25px;
}

.s-item{
    /* border: 1px solid black; */
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    font-weight: 540;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.text-lines{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
}

.i-topic{
    font-weight: bolder;
}

.t-line{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row;
}

.name{
    font-weight: 100;
    font-size: medium;
    color: black;
}

.value{
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid black; */
    width: 50%;
    text-align: end;
    font-weight: 100;
    font-size: small;
    color: grey;
}


.form-range{
    margin-left: auto;
    width:25px;
}

.or{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row;
    text-align: center;
    line-height: 2.5em;
    color: grey;
    margin-top:10px;
    font-size: small;
}



.or>span{
    /* border: 1px solid black; */
    width: 50%;
}

.checkout{
    margin-top: 6px;
    background-color:rgb(255, 0, 0);
    color: white;
    text-align: center;
    padding: 4px;
    cursor:default;
}

.checkout:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

#get-quote-b{
    background-color: blue;
}

.cart-checkout{
    height: 98vh;
    position: fixed;
    border: 4px solid black;
    background-color: rgba(0,0,0,.5);
    top:0;
    left:0;
    width: 100%;
    display: none;
    flex-flow: column;
    justify-content:flex-start;
}

#form{
    background-color: white;
    color:black;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    margin:0 auto;
    max-width:600px;
    min-width: 400px;
}

.close{
    background-color: red;
}

@media only screen and (max-width:900px){
    .cart-main-container{
        width:100%;
        height: fit-content;
    }
    .cart-details{
        display: flex;
        width:100%;
        flex-flow: column;
        /* border: 1px solid black; */
    }

    .cart-r-section{
        width: 100%;
        margin:auto;
    }

    .table-container{
        width:100%;
        margin: auto;
        max-height: fit-content;
        overflow-x: auto;
    }
}