  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

  .spin-overlay{
    width: 100%;
    height: 100vh;
    display: none;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20000;
    position: fixed;
    top: 0; left: 0;

  }

  #view-detail{
      display: none;
  }

  .video-container{
      /* border:1px solid black; */
      height: 80vh;
      padding: 0;
  }

  .bg-video{
      width: 100%;
      height: 80vh;
  }

  .view-portal{
    display: flex;
    flex-flow: row;
    margin-top: 6vh;
  }

.features{
    /* border: 1px solid black; */
    display:flex;
    justify-content:center;
    flex-flow: column;
    padding:2vh;

}

#landing-image{
    margin-left: auto;
    padding-top:5vh;
}


#featured-cont{
    /* overflow-x: auto; */
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    /* min-height: fit-content; */
    height: fit-content;
    background-color: white;
}

.sec-title{
    text-align:center;
    border: 1px solid black;
}


.c-image{
    width:70%;
    height:80vh;
}

.tabs-container{
    /* border:1px solid black; */
    margin-top: 10px;
}

.tabs-container>h4{
    color:grey;
}

div>h4{
    color:grey;
}

.tools-container{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    /* background-color: #f2f2f2; */
    margin-top: 50px;
}

.tools-container>h4{
    color: grey;
}

.tool-card-container{
    display: flex;
    flex-flow: row;
    /* justify-content: center; */
    padding:0;
    overflow-x: auto;
}

.tool-card{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 400px;
    min-width: 320px;
    width: 20%;
    height: 50vh;
    min-height: 400px;
    margin: 2px;
    background-color: white;
    /* box-shadow: 3px 3px 20px #777777; */
    padding: 1px;
}

.tool-topic{
    text-align: center;
    font-weight: bold;
}

.sizing{
    background-color:rgb(255, 145, 0);
    display: flex;
    flex-flow:column;
    justify-content: center;
}

.text-container{
    display: flex;
    flex-flow: column;
}

.tool-heading{
    font-weight: bolder;
    font-size:x-large;
    text-align: center;
    /* border:1px solid black; */
}

.tool-topic{
    /* border: 1px solid black; */
    font-weight: 100;
    padding: 25px;
}

.find-out-more{
    border: 2px solid black;
    margin: auto;
    padding:10px;
    font-weight: 600;
    color:black;
    text-decoration: none;
}

.find-out-more:hover{
    text-decoration: none;
    background-color: black;
    color:white;
    transition: background-color 0.2s ease-in-out;
}

.extras{
    margin-top: 20px;
}

.extras-card-container{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow-x: auto;
    
}

.extras-card{
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 400px;
    min-width: 320px;
    margin: 2px;
    background-color: white;
    /* box-shadow: 3px 3px 20px #777777; */
    padding: 1px;

    box-shadow: none;
    /* border: 1px solid rgb(180, 180, 180); */
    /* background-color: aqua; */
    padding: 5px;
    margin: 0px;
    max-height: fit-content;
}

.extras-topic{
    /* border: 1px solid black; */
    text-align: center;
    font-weight: bold;
}

.container{
    margin-top: 50px;
}

.page-footer{
    border: 1px solid black;
    background-color: rgb(1, 1, 15);
    color:white;
}


.footer-links{
    /* border: 1px solid rgb(228, 225, 225); */
    text-decoration: none;
    list-style: none;
    text-align: start;
    display: flex;
    flex-flow: column;
    padding: 0;

}

.grey-text{
    /* border: 1px solid rgb(255, 237, 237); */
    text-decoration: none;
    /* list-style: none; */
    width:100%;
    margin: 10px;
    font-size: large;
}

.white-text{
    font-weight: bold;
}

.contact-us{
    /* border: 1px solid black; */
    background-color: rgb(255, 145, 0);
}
.contact-us-heading{
    /* border: 1px solid white; */
    font-size: xx-large;
    color: white;
}
.message{
    /* border: 1px solid white; */
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color:white; */
}
.contact-us-control{
    border-radius: 0vh;
    margin:0;
}

#contact-us-submit{
    /* border: 2px solid red; */
    width: fit-content;
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    background-color: black;
    color: yellow;
}

@media only screen and (min-width: 992px) {
    #contact-us-form{
        /* border: 1px solid red; */
        width: 70%;
        margin: auto;
    }

    
}
@media only screen and (max-width:780px) {
    #featured-cont {
        flex-flow: column;
        overflow-y: auto;
        min-width: fit-content;
        
    }
    .cust-card{
        margin: auto;
        width: 80%;
    }
    .tools-container{
        margin-top: 5px;
    }
    .tool-card-container{
        flex-flow: column;
        width: 100%;
        overflow-y: auto;
    }
    .tool-card{
        margin: 10px auto;
        width: 100%;
    }

    .extras-card-container{
        /* border: 1px solid black; */
        flex-flow: column;
        width: 100%;     
    }

    .extras-card{
        margin: auto;
        width:100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

}
