


.qty-container{
    /* border:1px solid black; */
    display:flex;
    flex-flow: row;
    width:50px;
}

.q-input{
    width: 30px;
    height:30px;
}

.qty-buttons{
    position: relative;
    top:-3px;
    /* border:1px solid black; */
    display: flex;
    flex-flow: column;
    height: 30px;
    /* align-items: center; */
    /* padding-top: -10px; */
}

.q-b{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    padding: 0;
    height:fit-content;
    font-size: 1em;
    width:15px;
    margin-left:5px;
    position:relative;
    top: 1px;
}

.q-b:hover{
    background-color: rgb(212, 211, 211);
}

.u-table{
    /* border: 1px solid black; */
    position:relative;
    top:-1.7vh;
    display: flex;
}

.total{
    border:1px solid black;
    width:fit-content;
    padding-bottom:0;
    display: flex;
    flex-flow: row;
    border:0px solid grey;
    border-top:none;
    margin-left: auto;
    background-color: rgba(0,0,0,.05);
}

.total p{
    font-weight: bold;
    color:red;
}
