
.main{
    /* border:1px solid black; */
    display:flex;
    flex-flow: row;
    width:100%;
    padding:0;
}

.package-title{
    /* border:1px solid black; */
    display:flex;
    justify-content: center;
    font-size: larger;
    position: sticky;
}

.side-nav{
    /* border-right:1px solid black; */
    display: flex;
    flex-flow: column;
    background-color:aliceblue;
    
}

.s-nav-heading{
    position: sticky;
    left:0;
    top:0;
}

.s-item{
    border-bottom: 1px solid rgb(148, 146, 146);
    padding:2vh;
    background-color: rgb(219, 223, 223);
    font-family: var(--font);
    font-weight: bold;
    cursor: pointer;
}

.s-item:hover{
    background-color: rgb(173, 175, 175);
}

