<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>Nova Power</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/general.css') }}" text="text/css" media="all" />

    <link rel="stylesheet" href="{{ url_for('static',filename='/css/cards.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/tabs.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/main.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/overlay.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/products.css') }}" text="text/css" media="all" />

</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="/">Novapower</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/store">Packages</a>
            </li>
            <li class="nav-item">
                <button type="button"  class="btn btn-primary mr-5" id="cart-button">
                    <i class="bi bi-cart4"></i> <span class="badge badge-light" id="cart-badge">0</span>
                    <span class="sr-only">cart-items</span>
                </button>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input disabled class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button disabled class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="view-details overlay" id="view-detail"></div>

      <div class="main">
        <div class="row main-container">
            <div class="section side-bar col-md-2" id="side-bar-view">
              <br />
              <h4 class="heading"><i class="bi bi-tags-fill"></i>&nbspCategories</h4>
              <ul id="categories-list"></ul>
              <br />
              <h4 class="heading"><i class="bi bi-funnel-fill"></i>&nbspFilters</h4>
              <div class="filter-views" id="filter_list"></div>
              <br />
            </div>
            <div class="section col main-display">
              <div class="tabs" style="position: sticky; top:0px; " id="products-tabs">
              </div>
              <div class="row cards">
                <div class="cards-container" id="products_container"></div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="tool-bar">
        <div class="col tool-bar-item">
          <a href="/" class="tool-bar-item t-button">
            <span class="icon t-item">
              <i class="bi bi-house-fill"></i>
            </span>
            <span class="tool-name t-item">
                Home
            </span>
          </a>
        </div>
        
        <div class="col tool-bar-item">
          <a id="filter-toggle" expanded="false" class="tool-bar-item t-button">
            <span class="icon t-item">
              <i class="bi bi-funnel-fill"></i>
            </span>
            <span class="tool-name t-item">
                Filter
            </span>
          </a>
            
        </div>

        <div class="col tool-bar-item">
          <a href="/cart" class="tool-bar-item t-button">
            <span class="icon t-item">
              <i class="bi bi-cart4"></i>
            </span>
            <span class="tool-name t-item">
                Cart
            </span>
          </a>
           
        </div>

        <div class="col tool-bar-item">
          <a href="/" class="tool-bar-item t-button">
            <span class="icon t-item">
              <i class="bi bi-shop"></i>
            </span>
            <span class="tool-name t-item">
                Store
            </span>
          </a>
            
        </div>

        <div class="col tool-bar-item">
          <a href="/" class="tool-bar-item t-button">
            <span class="icon t-item">
              <i class="bi bi-search"></i>
            </span>
            <span class="tool-name t-item">
                Search
            </span>
          </a>
            
        </div>
      </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="{{ url_for('static',filename='/js/constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='/js/objects.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='/js/resources.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='/js/views_generator.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='/js/processor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='/js/products_list.js') }}"></script>

</html>