<!DOCTYPE html>
<html lang="en">
  <head>
      
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
      <link rel="stylesheet" href="{{ url_for('static',filename='/css/sizing-tool/main.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ url_for('static',filename='/css/sizing-tool/app_grid.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ url_for('static',filename='/css/sizing-tool/tabs.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ url_for('static',filename='/css/sizing-tool/house_model.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ url_for('static',filename='/css/sizing-tool/app-view.css') }}" type="text/css" media="all" />
      <link rel="stylesheet" href="{{ url_for('static',filename='/css/sizing-tool/package-view.css') }}" type="text/css" media="all" />
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <title>Sizing Tool</title>

  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Novapower</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./store">Store</a>
        </li>
        
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-5" id="cart-button">
              <i class="bi bi-cart4"></i> <span class="badge badge-light" id="cart-badge" style="color:black ;">0</span>
              <span class="sr-only">cart-items</span>
          </button>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input disabled class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button disabled class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

   <div class="main container-fluid">
     <div class="row">
        <div class="col left section">
          <div class="row header">
            <h4 class="naming">Appliances</h4>
            
          </div>
          <div class="row apps-grid block" id="full-app-list">            



          </div>
          <div class="row app-details block" id="app-details-view">
           
          </div>

        </div>

        <div class="col-7 middle section">
          <div class="row header mid-header">
            <h4 class="naming">House Model</h4>
          </div>

          <div class="row house-model mid-block" id="house-view">
            <!-- Hosing model -->
            <div class="room-model block">
              <span>Kitchen</span>
            </div>
          </div>


          <div class="row header tabs-container">
            <div class="col tab selected-tab" group="packages" name="app-list">
                <div class="tab-text">
                  <span class="naming">Solar Packages</span>
                </div>
            </div>
            <div class="col tab" group="packages" name="stats" >
              <div class="tab-text">
                <span class="naming">UPS Systems</span>
              </div>
            </div>

            <div class="col tab" group="packages" name="stats" >
              <div class="tab-text">
                <span class="naming">Solar + UPS Systems</span>
              </div>
            </div>
          </div>

        <div class="row apps-grid block tab-content">
          <div class="p-card">
            <div class="img-container row">
              <div class="col img-sec">
                <img class="img-responsive img-sec" width="120" src="https://i.ibb.co/z5vPYfg/Tentech5-6k-VA-R17-4.png" />
              </div>
              <div class="col img-sec">
                <img class="img-responsive img-sec" width="100" src="https://i.ibb.co/z5vPYfg/Tentech5-6k-VA-R17-4.png" />
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="col right section">
          <div class="row header tabs-container">
              <div class="col tab selected-tab" group="info" name="app-list">
                  <div class="tab-text">
                    <span class="naming">Appliances</span>
                  </div>
              </div>
              <div class="col tab" group="info" name="stats" >
                <div class="tab-text">
                  <span class="naming">Stats</span>
                </div>
              </div>
          </div>
          <div class="row apps-grid block tab-content" id="house-tab-content">

          </div>
          <div class="row app-details block">
           
          </div>
        </div>
      </div>
   </div>
    
  </body>
  <script src="{{ url_for('static',filename='/js/sizing-tool/request.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='/js/sizing-tool/repository.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='/js/sizing-tool/viewModel.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='/js/sizing-tool/utilities.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='/js/sizing-tool/appListView.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='/js/sizing-tool/houseView.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='/js/sizing-tool/tabs.js') }}" type="text/javascript"></script>
</html>