
.house-model{
    background-color: rgb(154, 240, 211);
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 34vh;
}

.room-model{
    width: 130px;
    height: 75px;
    background-color: rgb(235, 211, 211);
    text-align: center;
    margin: 5px;
    display: flex;
    flex-flow: column;
    border: 1px solid grey;
    justify-content: center;
    padding:10px;
    font-weight: bold;
}

.room-model:hover{
    border: 4px solid grey;
    cursor: pointer;
}