.section{
    height: 93vh;
}

.left{
    background-color: grey;
}

.right{
    background-color: blue;
}

.block{
     background-color: rgb(226, 227, 228);
     height: 48%;     
}


.header{
    background-color: rgb(231, 231, 231);
}

.naming{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

hr{
    margin: 0px;
}

.apps-grid{
    display: flex;
    padding: 5px;
    flex-flow: row;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: rgb(231, 231, 231);
}

