
/* :root{
    --bg_color:rgb(255, 255, 146);
} */



.section{
    height: 93vh;
}

.left{
    background-color: grey;
}

.right{
    background-color: blue;
    /* color:beige; */
}

.block{
     /* background-color: rgb(192, 192, 192); */
    /* background-color: rgb(255, 255, 255); */
    height: 48%;     
    background-color: var(--bg_color);
}

.mid-header{
    border:1px solid white;
    border-bottom: none;
    border-top: none;
}

.header{
    /* background-color: rgb(231, 231, 231); */
    background-color: var(--tab-color);
    color:var(--text-color);
}

.naming{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

hr{
    margin: 0px;
    background-color: white;
}

.apps-grid{
    display: flex;
    padding: 5px;
    flex-flow: row;
    flex-wrap: wrap;
    overflow-y: auto;
    /* background-color: rgb(231, 231, 231); */
    background-color: var(--top_color);
}

.mid-block{
    height: 42%;
    /* border: 1px solid black; */
    position:relative;
}

.mid-header{
    /* background-color: var(--bg_color); */
}
