
.p-tab-content{
    padding: 5px;
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    overflow-y: scroll;

    /* height: fit-content; */
    /* height: 60vh; */
    /* border: 1px solid black; */
}

.p-card{
    /* border: 1px solid black; */
    display: flex;
    flex-flow:column;
    width:230px;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -5px -5px 10px  rgba(209, 208, 208, 0.815),
                5px 5px 5px rgba(134, 134, 134, 0.473);
    margin: 5px;
    background-color: white;
}

.img-container{
    /* background-color: blue; */
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.img-container img{
    mix-blend-mode:normal;
}


.img-sec{
    width: fit-content;
}

.p-description{
   
    margin-top: 4px;
    padding: 2px;
}

.text{
    /* border: 1px solid black; */
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color:rgb(75, 75, 75);
    font-weight:500;
}

.p-title{
    /* border: 1px solid black; */
    font-weight: bolder;
    font-size: medium;
    color: blue;
}

.p-descr{
    font-weight: bolder;
    color:black;
}

.price{
    /* border: 1px solid black; */
    float: right;
    font-weight: bolder;
    color:rgb(211, 118, 12);
    font-size: larger;
}

.buy-button{
    /* border: 1px solid black; */
    padding:8px;
    background-color: rgb(35, 161, 219);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: -3px -3px 3px  rgba(209, 208, 208, 0.2),
                3px 3px 2px rgba(134, 134, 134, 0.05);
}

.buy-button:hover{
    color:white;
    background-color: rgba(35, 161, 219, 0.733);
    text-decoration: none;
}